<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>园区+.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3FE689D4DBE9AA062552E01FFD714383C9B0B5AB</string>
				<key>dateExpires</key>
				<string>2018/12/15</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>57DV2HWFEV.com.qhdata.park</string>
				<key>com.apple.developer.team-identifier</key>
				<string>57DV2HWFEV</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>园区+.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>58f353f7-008c-4e98-bcac-2b514ae8db0f</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.qhdata.park</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>57DV2HWFEV</string>
				<key>name</key>
				<string>Shenzhen Qianhai Data Services Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
